version: "4"

services:
  postgres:
    image: postgres
    build: .
    restart: always
    container_name: database
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
    ports:
      - 5435:5432

    volumes:
      - ./postgres:/var/lib/postgresql/data

  # api:
  #   build: .
  #   container_name: golang
  #   # restart: unless-stopped
  #   command: bash -c "go mod tidy && go run server/server.go"
  #   ports:
  #     - 3000:3000
  #   volumes:
  #     - .:/api
  #   depends_on:
  #     - postgres
